{% extends "base.html" %}

{% block titleblock %}
    <title>Admin</title>
{% endblock %}

{%  block mainbody %}
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Admin Console</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <!-- Welcome -->
                <div class="col-lg-12">
                    {% if locked_out_users > 0 %}
                    <div class="alert alert-info">
                        <i class="fa fa-folder-open"></i>&nbsp;Welcome Back <b>{{ session.name }}:</b>
                        Currently<b>&nbsp;{{ locked_out_users }}</b> user accounts require your attention.
                    </div>
                    {% endif %}
                </div>
                <!--end  Welcome -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Data Management
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#user_tab" data-toggle="tab">Users</a>
                                </li>
                                <li><a href="#tag_tab" data-toggle="tab">Tags</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="user_tab">
                                    </br>
                                    <table id="users_table" class="display" cellspacing="0" width="100%"></table>
                                </div>
                                <div class="tab-pane fade" id="tag_tab">
                                    </br>
                                    <table id="tags_table" class="display" cellspacing="0" width="100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!--  Area Chart -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Document upload and download activity
                        </div>
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                    </div>
                    <!-- End Area Chart -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!--  Area Chart -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            User signup activity
                        </div>
                        <div class="panel-body">
                            <div id="morris-user-area-chart"></div>
                        </div>
                    </div>
                    <!-- End Area Chart -->
                </div>
            </div>
         </div>
        <!-- end page-wrapper -->
{% endblock %}

{%  block sidenav %}
    <li class="selected">
        <a href="/home"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
    </li>
    <li>
        <a href="/document_upload"><i class="fa fa-folder-open fa-fw"></i>Document Upload</a>
    </li>
    <li>
        <a href="/document_search"><i class="fa fa-files-o fa-fw"></i>Document Search</a>
    </li>
    <li>
        <a href="/profile"><i class="fa fa-edit fa-fw"></i>Profile Information</a>
    </li>
    <li>
        <a href="/my-documents"><i class="fa fa-files-o fa-fw"></i>My Documents</a>
    </li>
    <li>
        <a href="/document-timeline"><i class="fa fa-sitemap fa-fw"></i>Document Timeline</a>
    </li>

{%  endblock %}

{% block customjs %}
<!-- DATA TABLES-->

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
    <script src="../static/plugins/Editor-1.5.6/js/dataTables.editor.min.js"></script>
    <script src="../static/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="../static/plugins/metisMenu/jquery.metisMenu.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../static/plugins/Editor-1.5.6/css/editor.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.jqueryui.min.css">

    <!--This link pulls in all of the datatable setup stuff-->
    <script src="../static/scripts/CustomDataTables.js"></script>
    <script src="../static/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="../static/plugins/morris/morris.js"></script>
    <!--<script src="../static/scripts/morris-demo.js"></script>-->
    <script>

    var user_table = make_user_table();
    var tag_table = make_tag_table();

    function destroyUserTable(){
        mytable.destroy();
        $('#example').empty();
        mytable = make_tag_table();
    }

    function destroyTagTable(){
        mytable.destroy();
        $('#example').empty();
        mytable = make_user_table();
    }

    function draw_morris(admin_stats) {

            Morris.Area({
                element: 'morris-area-chart',
                data: admin_stats,
                xkey: 'date',
                ykeys: ['uploads', 'downloads'],
                labels: ['Uploads', 'Downloads'],
                pointSize: 2,
                parseTime: false,
                hideHover: 'auto',
                resize: true
            });

     };

    function format_date(x){
        return x.src.date;
    }

    function draw_user_morris(admin_stats) {

            Morris.Area({
                element: 'morris-user-area-chart',
                data: admin_stats,
                xkey: 'date',
                parseTime: false,
                xLabelFormat: format_date,
                ykeys: ['count'],
                labels: ['Registrations'],
                pointSize: 2,
                hideHover: 'auto',
                resize: true
            });

     };

    function ajax_admin_data() {
              console.log('fetching');
              $.getJSON('/admin_stats', {
                  cache: true
              }, function(data) {
                  console.log(data)
                  draw_morris(data.admin_stats);
                  draw_user_morris(data.user_stats);
              });
              return false;
          };

    ajax_admin_data();

    </script>

{% endblock %}