<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titleblock %}
    {% endblock %}
    <!-- Core CSS - Include with every page -->

    <!-- DMS Logo font -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <link href="../static/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet" />
    <link href="../static/css/main-style.css" rel="stylesheet" />
    <!-- Page-Level CSS -->
    <link href="../static/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />

   </head>
<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <!-- <img src="../static/img/logo.png" alt=""/> -->
                    <h1 style="color:white; font-family: 'Lobster', cursive;">documentum</h1>
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="top-label label label-success"></span>  <i class="fa fa-tasks fa-3x"></i>
                    </a>
                    <!-- dropdown tasks -->
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i><a href="/reboot_server">Reboot Server</a>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- end dropdown-tasks -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">
                                <img src={{ session.profile_photo }} alt="">
                            </div>
                            <div class="user-info">
                                <div>{{ session.name }}</div>
                                <div class="user-text-online">
                                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    <li class="sidebar-search">
                        <!-- search section-->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!--end search section-->
                    </li>
                    {% block sidenav %} {% endblock %}
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->

        <!-- MAIN BODY BLOCK-->
        {% block mainbody %}{% endblock %}
        <!--End MAIN BODY BLOCK-->

    </div>
    <!-- end wrapper -->

    {% block customjs %}
    <!-- Core Scripts - Include with every page -->
    <script src="../static/plugins/jquery-1.10.2.js"></script>
    <script src="../static/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="../static/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../static/plugins/pace/pace.js"></script>
    <script src="../static/scripts/siminta.js"></script>
    <!-- Page-Level Plugin Scripts-->
    <script src="../static/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="../static/plugins/morris/morris.js"></script>
    <!-- <script src="../static/scripts/dashboard-demo.js"></script>-->
    <!-- SELECT 2 - USED FOR TAGGING BOXES -->
    <link href="../static/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <script src="../static/plugins/select2/js/select2.full.js"></script>
    <script type="text/javascript">
      $(".js-example-basic-multiple").select2({
          tags: true,
          tokenSeparators: [',', ' '],
          minimumInputLength: 2,
          selectOnClose: true,
          ajax: {
                url: "/ajax_doc_tags",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                  return {
                    search: params.term, // search term
                    page: params.page
                  };
                },
                processResults: function (data, params) {
                  // parse the results into the format expected by Select2
                  // since we are using custom formatting functions we do not need to
                  // alter the remote JSON data, except to indicate that infinite
                  // scrolling can be used
                  console.log(data.items);
                  params.page = params.page || 1;

                  return {
                    results: data.items,
                    pagination: {
                      more: (params.page * 30) < data.total_count
                    }
                  };
                },
                cache: true
              }
      });
    </script>
    {% endblock %}

</body>

</html>
