{% extends "base.html" %}

{%  block mainbody %}
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Document upload</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <div class="col-lg-8">

                </div>

                <div class="col-lg-4">

                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Notifications-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-folder fa-fw"></i>Document Information
                        </div>
                    <form action="" method="post" role="form" enctype=multipart/form-data>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <label for="document_name">Enter a friendly name for your document</label>
                                    <input class="form-control" placeholder="Document name" name="document_name" type="document_name" autofocus>
                                </a>
                                <a href="#" class="list-group-item">
                                    <label for="js-example-basic-multiple">Add document tags (use the spacebar or commas to complete each tag)</label>
                                    <select class="js-example-basic-multiple" name="tags" multiple="multiple" style="width:100%;">
                                    </select>
                                </a>
                                </br>
                                <div class="form-group">
                                    <label for="document">Upload a new document</label><input class="form-control" name="document" type="file">
                                </div>
                            </div>
                            <!-- /.list-group -->
                            <div class="form-button">
                                    <input class="btn btn-default" type="submit" value="Upload">
                            </div>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                </br>
                                <div class="form-button">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                                </div>
                            {% endif %}
                            {% endwith %}
                        </div>
                    </form>
                    </div>
                    <!--End Notifications-->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    {% endblock %}

{%  block sidenav %}
    <li>
        <a href="/home"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
    </li>
    <li class="selected">
        <a href="/document_upload"><i class="fa fa-folder-open fa-fw"></i>Document Upload</a>
    </li>
    <li>
        <a href="/document_search"><i class="fa fa-files-o fa-fw"></i>Document Search</a>
    </li>
    <li>
        <a href="/profile"><i class="fa fa-edit fa-fw"></i>Profile Information</a>
    </li>
    <li>
        <a href="/my-documents"><i class="fa fa-files-o fa-fw"></i>My Documents</a>
    </li>
    <li>
        <a href="/document-timeline"><i class="fa fa-sitemap fa-fw"></i>Document Timeline</a>
    </li>
{%  endblock %}