{% extends "base.html" %}

{% block titleblock %}
    <title>Upload</title>
{% endblock %}

{%  block mainbody %}
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Document upload</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <div class="col-lg-8">

                </div>

                <div class="col-lg-4">

                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Notifications-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-folder fa-fw"></i>Document Information
                        </div>
                    <form action="" id="document_form" method="post" role="form" enctype=multipart/form-data>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="form-group">
                                    <label for="document_name">Enter a friendly name for your document</label>
                                    <input class="form-control" placeholder="Document name" name="document_name" type="document_name" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="access_level">Select an access level for your document (lower level users will not be able to access it)</label>
                                    <select class="form-control" name="access_level">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="js-example-basic-multiple">Select lower level users who can access the document (If required)</label>
                                    <select class="js-example-basic-users" name="user_exceptions" id="user_exceptions" multiple="multiple" style="width:100%;">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="js-example-basic-multiple">Add document tags (use the spacebar or commas to complete each tag)</label>
                                    <select class="js-example-basic-multiple" name="tags" id="tags" multiple="multiple" required style="width:100%;">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="file">Upload a new document</label><input class="form-control" name="file" select_req type="file">
                                </div>
                            </div>
                            <!-- /.list-group -->
                            <div class="form-button">
                                    <input class="btn btn-default" type="submit" value="Upload">
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                </br>
                                <div class="form-button">
                                {% for category, message in messages %}
                                    {% if category == 'success' %}
                                        <div class="alert alert-success">
                                        {{ message }}
                                        </div>
                                    {% else %}
                                        <div class="alert alert-danger">
                                        {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endif %}
                            {% endwith %}
                        </div>
                    </form>

                    </div>
                    <!--End Notifications-->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    {% endblock %}

{%  block sidenav %}
    <li>
        <a href="/home"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
    </li>
    <li class="selected">
        <a href="/document_upload"><i class="fa fa-folder-open fa-fw"></i>Document Upload</a>
    </li>
    <li>
        <a href="/document_search"><i class="fa fa-files-o fa-fw"></i>Document Search</a>
    </li>
    <li>
        <a href="/profile"><i class="fa fa-edit fa-fw"></i>Profile Information</a>
    </li>
    <li>
        <a href="/my-documents"><i class="fa fa-files-o fa-fw"></i>My Documents</a>
    </li>
    <li>
        <a href="/document-timeline"><i class="fa fa-sitemap fa-fw"></i>Document Timeline</a>
    </li>
{%  endblock %}

{% block customjs %}
    <script src="../static/plugins/jquery-1.10.2.js"></script>
    <script src="../static/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="../static/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../static/plugins/pace/pace.js"></script>
    <script src="../static/scripts/siminta.js"></script>
    <!-- Page-Level Plugin Scripts-->
    <script src="../static/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="../static/plugins/morris/morris.js"></script>
    <!-- <script src="../static/scripts/dashboard-demo.js"></script>-->
    <!-- SELECT 2 - USED FOR TAGGING BOXES -->
    <link href="../static/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <script src="../static/plugins/select2/js/select2.full.js"></script>
    <script type="text/javascript">
      //TAGGING AJAX
      $(".js-example-basic-multiple").select2({
          tags: true,
          minimumInputLength: 2,
          ajax: {
                url: "/ajax_doc_tags",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                  return {
                    search: params.term, // search term
                    page: params.page
                  };
                },
                processResults: function (data, params) {
                  // parse the results into the format expected by Select2
                  // since we are using custom formatting functions we do not need to
                  // alter the remote JSON data, except to indicate that infinite
                  // scrolling can be used
                  console.log(data.items);
                  params.page = params.page || 1;

                  return {
                    results: data.items,
                    pagination: {
                      more: (params.page * 30) < data.total_count
                    }
                  };
                },
                cache: true
              }
      });
      //TAGGING

     //USERS AJAX
     $(".js-example-basic-users").select2({
          tags: true,
          minimumInputLength: 2,
          ajax: {
                url: "/ajax_user_names",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                  return {
                    search: params.term, // search term
                    page: params.page
                  };
                },
                processResults: function (data, params) {
                  // parse the results into the format expected by Select2
                  // since we are using custom formatting functions we do not need to
                  // alter the remote JSON data, except to indicate that infinite
                  // scrolling can be used
                  console.log(data.items);
                  params.page = params.page || 1;

                  return {
                    results: data.items,
                    pagination: {
                      more: (params.page * 30) < data.total_count
                    }
                  };
                },
                cache: true
              }
      });
    </script>
{% endblock %}

<script>
$("#document_form").validate();
</script>