{% extends "base.html" %}

{% block titleblock %}
    <title>Search</title>
{% endblock %}

{%  block mainbody %}
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Document Search</h1>
                </div>
                <!--End Page Header -->
            </div>

            <script type=text/javascript>
              function ajax_tag_call(doc_id) {
              $.getJSON('/get_tags', {
                  cache: true,
                document_id: doc_id
              }, function(data) {
                  $("#search_document_tags").val(null).trigger("change");
                  for (i = 0; i < data.result.length; i++) {
                    var newOption = new Option(data.result[i], data.result[i], true, true);
                    $("#search_document_tags").append(newOption).trigger('change');
                  }
              });
              return false;
          };

          function document_history_post(doc_id) {
                 $.post("/document-timeline", {document_id: doc_id}, function(result){
                 var win=window.open('about:blank');
                    with(win.document)
                    {
                      open();
                      write(result);
                      close();
                    }
                });
             }

        </script>

            <div class="row">
                <div class="col-lg-8">

                </div>

                <div class="col-lg-4">

                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                                        <!-- Notifications-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-folder fa-fw"></i>Document Search Information
                        </div>
                    <form action="" method="post" id="doc_search" role="form" enctype=multipart/form-data>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <label for="document_name">Enter the friendly name of your document</label>
                                    <input class="form-control" placeholder="Document name" name="document_name" required type="document_name" autofocus>
                                </a>
                                <a href="#" class="list-group-item">
                                    <label for="js-example-basic-multiple">Enter tags to search by (use the spacebar or commas to complete each tag)</label>
                                    <select class="js-example-basic-multiple" name="document_tags" multiple="multiple" style="width:100%;">
                                    </select>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <div class="form-button">
                                    <input class="btn btn-default" type="submit" value="Search">
                            </div>
                        </div>
                    </form>
                    <script>
                    $("#doc_search").validate();
                    </script>
                    </div>
                    <!--End Notifications-->

                     <!-- SEARCH RESULTS-->
                    {% if relevant_docs is not none and relevant_docs != 'empty' %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Search Results
                        </div>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                {% for doc in relevant_docs %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <!--    Sort of a lazy load here - populate the tags field when a user clicks to expand a document -->
                                            <a onclick="ajax_tag_call({{ doc.document_id }})" data-toggle="collapse" data-parent="#accordion" href="#{{ doc.document_id }}">{{ doc.document_name }}</a>
                                        </h4>
                                    </div>
                                    <div id="{{ doc.document_id }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p><b>Uploader:</b> {{ doc.uploader }}</p>
                                            <p><b>Last modified by:</b> {{ doc.last_edited_by }}</p>
                                            <p><b>Version:</b> {{ doc.version }}</p>
                                            <p><b>File name:</b> {{ doc.file_name }}</p>
                                            <a href="#" class="list-group-item">
                                                <label for="js-example-basic-multiple">Document tags</label>
                                                <select disabled="true" class="js-example-basic-multiple" name="search_document_tags" id="search_document_tags" multiple="multiple" style="width:100%;">
                                                </select>
                                            </a>
                                            </br>
                                            <a href="/downloads/{{ doc.document_id }}" class="btn btn-success">Download</a>
                                            &nbsp;
                                            <a href="/document-timeline/{{ doc.document_id }}" class="btn btn-success">Show edit history</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% elif not relevant_docs %}
                        <div class="alert alert-danger">
                            No results found matching those criteria.
                        </div>
                    {% endif %}
                    <!--END SEARCH RESULTS-->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    {% endblock %}

{%  block sidenav %}
    <li>
        <a href="/home"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
    </li>
    <li>
        <a href="/document_upload"><i class="fa fa-folder-open fa-fw"></i>Document Upload</a>
    </li>
    <li class="selected">
        <a href="/document_search"><i class="fa fa-files-o fa-fw"></i>Document Search</a>
    </li>
    <li>
        <a href="/profile"><i class="fa fa-edit fa-fw"></i>Profile Information</a>
    </li>
    <li>
        <a href="/my-documents"><i class="fa fa-files-o fa-fw"></i>My Documents</a>
    </li>
    <li>
        <a href="/document-timeline"><i class="fa fa-sitemap fa-fw"></i>Document Timeline</a>
    </li>
{%  endblock %}