{% extends "base.html" %}

{% block titleblock %}
    <title>My Documents</title>
{% endblock %}

{%  block mainbody %}
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Checked out documents</h1>
                </div>
                <!--End Page Header -->

              <script type=text/javascript>
              var dictionary = {};
              function ajax_tag_call(doc_id) {
              if (!(doc_id in dictionary)) {
                  console.log("Sending fresh request...");
                  $.getJSON('/get_tags', {
                      cache: false,
                      document_id: doc_id
                  }, function (data) {
                      dictionary[doc_id] = data;
                      update_screen(doc_id);
                  });
              }
              else{
                  console.log("Loading from cache...");
                  update_screen(doc_id);
              }
              return false;
          };

          function update_screen(doc_id){
            $("#tags_for_" + doc_id).empty();
              var data = dictionary[doc_id];
              for (i = 0; i < data.result.length; i++) {
                     var newOption = new Option(data.result[i], data.result[i], true, true);
                     $("#tags_for_" + doc_id).append(newOption).trigger('change');
              }
          };
        </script>

            </div>

            <div class="row">
                <div class="col-lg-8">

                </div>

                <div class="col-lg-4">

                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                     <!-- SEARCH RESULTS-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Documents Listing
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#uploads" data-toggle="tab">Uploads</a>
                                </li>
                                <li><a href="#downloads" data-toggle="tab">Downloads</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="uploads">
                                    <h4>Documents uploaded by you:</h4>
                                        {% with messages = get_flashed_messages(with_categories=true) %}
                                            {% if messages %}
                                                {% for category, message in messages %}
                                                    {% if category == 'success' %}
                                                        <div class="form-button">
                                                            <div class="alert alert-success">
                                                                {{ message }}
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="form-button">
                                                            <div class="alert alert-danger">
                                                                {{ message }}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                    {% if uploads is not none %}
                                    <div class="panel-group" id="accordion">
                                        {% for doc in uploads %}
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a onclick="ajax_tag_call({{ doc.id }})" data-toggle="collapse" data-parent="#accordion" href="#{{ doc.id }}">{{ doc.document_name }}</a>
                                                </h4>
                                            </div>
                                            <div id="{{ doc.id }}" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>Current version of this document in the database: {{ doc.version }}</p>
                                                    </br>
                                                    <form action="" method="post" role="form" enctype=multipart/form-data>
                                                        <div class="panel-body">
                                                            <div class="list-group">
                                                                <a href="#" onClick="return false;" class="list-group-item">
                                                                      <label for="js-example-basic-multiple">Document tags (Add new tags if required)</label>
                                                                      <select class="js-example-basic-multiple" name="tags_for_{{ doc.id }}" id="tags_for_{{ doc.id }}" multiple="multiple" style="width:100%;">
                                                                      </select>
                                                                </a>
                                                                </br>
                                                                <input type="hidden" name="doc_id" value="{{ doc.id }}">
                                                                <div class="form-group">
                                                                    <label>Please include a brief summary of your changes</label>
                                                                    <textarea class="form-control" name="comments" rows="3"></textarea>
                                                                </div>
                                                                </br>
                                                                <div class="form-group">
                                                                    <label for="document">Upload the updated version of the document</label><input class="form-control" name="document" type="file">
                                                                </div>
                                                            </div>
                                                            <!-- /.list-group -->
                                                            <div class="form-button">
                                                                    <input class="btn btn-default" type="submit" value="Upload">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        <div class="alert alert-danger">
                                        You do not have any document uploads to show.
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="tab-pane fade" id="downloads">
                                    <h4>Documents downloaded by you:</h4>
                            {% if downloaded_docs is not none %}
                            <div class="panel-group" id="accordion">
                                {% for doc in downloaded_docs %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a onclick="ajax_tag_call({{ doc.id }})" data-toggle="collapse" data-parent="#accordion" href="#{{ doc.id }}">{{ doc.document_name }}</a>
                                        </h4>
                                    </div>
                                    <div id="{{ doc.id }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Current version of this document in the database: {{ doc.version }}</p>
                                            <p>Version of this document that was checked out: &nbsp;&nbsp; {{ checkouts[doc.id] }}</p>
                                            </br>
                                            <form action="" method="post" role="form" enctype=multipart/form-data>
                                                <div class="panel-body">
                                                    <div class="list-group">
                                                        <a href="#" onClick="return false;" class="list-group-item">
                                                              <label for="js-example-basic-multiple">Document tags (Add new tags if required)</label>
                                                              <select class="js-example-basic-multiple" name="tags_for_{{ doc.id }}" id="tags_for_{{ doc.id }}" multiple="multiple" style="width:100%;">
                                                              </select>
                                                        </a>
                                                        </br>
                                                        <input type="hidden" name="doc_id" value="{{ doc.id }}">
                                                        <div class="form-group">
                                                            <label>Please include a brief summary of your changes</label>
                                                            <textarea class="form-control" name="comments" rows="3"></textarea>
                                                        </div>
                                                        </br>
                                                        <div class="form-group">
                                                            <label for="document">Upload the updated version of the document</label><input class="form-control" name="document" type="file">
                                                        </div>
                                                    </div>
                                                    <!-- /.list-group -->
                                                    <div class="form-button">
                                                            <input class="btn btn-default" type="submit" value="Upload">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                                <div class="alert alert-danger">
                                You do not have any document downloads to show.
                                </div>
                            {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END SEARCH RESULTS-->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    {% endblock %}

{%  block sidenav %}
    <li>
        <a href="/home"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
    </li>
    <li>
        <a href="/document_upload"><i class="fa fa-folder-open fa-fw"></i>Document Upload</a>
    </li>
    <li>
        <a href="/document_search"><i class="fa fa-files-o fa-fw"></i>Document Search</a>
    </li>
    <li>
        <a href="/profile"><i class="fa fa-edit fa-fw"></i>Profile Information</a>
    </li>
    <li class="selected">
        <a href="#"><i class="fa fa-files-o fa-fw"></i>My Documents</a>
    </li>
    <li>
        <a href="/document-timeline"><i class="fa fa-sitemap fa-fw"></i>Document Timeline</a>
    </li>
{%  endblock %}