{% extends "base.html" %}

{% block titleblock %}
    <title>Profile</title>
{% endblock %}

{%  block mainbody %}
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Profile information</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <div class="col-lg-8">

                </div>

                <div class="col-lg-4">

                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Notifications-->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-fw"></i>User Information
                        </div>
                    <form action="" method="post" role="form" enctype=multipart/form-data>
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="form-group">
                                    <label>Username (E-mail address)</label>
                                    <input class="form-control" placeholder="E-mail" id="username" name="username" type="username" value="{{ session.username }}" autofocus>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control" placeholder="Password" name="password" type="password" >
                                </div>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control" placeholder="Name" name="name" type="name" value="{{ session.name }}" >
                                </div>
                                <div class="form-group">
                                    <label for="profile_photo">Upload new profile image</label><input class="form-control" name="profile_photo" type="file">
                                </div>
                            </div>
                            <!-- /.list-group -->
                            <div class="form-button">
                                    <input class="btn btn-default" type="submit" value="Save changes">
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                </br>
                                <div class="form-button">
                                {% for category, message in messages %}
                                    {% if category == 'success' %}
                                        <div class="alert alert-success">
                                        {{ message }}
                                        </div>
                                    {% else %}
                                        <div class="alert alert-danger">
                                        {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endif %}
                            {% endwith %}
                        </div>
                    </form>
                    </div>
                    <!--End Notifications-->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    {% endblock %}

{%  block sidenav %}
    <li>
        <a href="/home"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
    </li>
    <li>
        <a href="/document_upload"><i class="fa fa-folder-open fa-fw"></i>Document Upload</a>
    </li>
    <li>
        <a href="/document_search"><i class="fa fa-files-o fa-fw"></i>Document Search</a>
    </li>
    <li class="selected">
        <a href="/profile"><i class="fa fa-edit fa-fw"></i>Profile Information</a>
    </li>
    <li>
        <a href="/my-documents"><i class="fa fa-files-o fa-fw"></i>My Documents</a>
    </li>
    <li>
        <a href="/document-timeline"><i class="fa fa-sitemap fa-fw"></i>Document Timeline</a>
    </li>
{%  endblock %}