{% extends "base.html" %}

{%  block mainbody %}
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->

                <link href="../static/plugins/timeline/timeline.css" rel="stylesheet" />

                <div class="col-lg-12">
                    <h1 class="page-header">Timeline Page</h1>
                </div>
                <!--End Page Header -->
            </div>

               <div class="row">
                <div class="col-lg-12">
                    <!--Timeline -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i>Timeline
                        </div>

                        <div class="panel-body">
                            <ul class="timeline">
                                {% for event in history %}
                                    {% if loop.index is divisibleby 2 %}
                                        <li class="timeline-inverted">
                                    {% else %}
                                        <li>
                                    {% endif %}
                                        {% if event.creation_event() %}
                                            <div class="timeline-badge info">
                                                <i class="fa fa-save"></i>
                                            </div>
                                        {% else %}
                                            <div class="timeline-badge warning">
                                                <i class="fa fa-credit-card"></i>
                                            </div>
                                        {% endif %}
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">{{ event.document_name }}</h4>
                                            <p>
                                                <small class="text-muted"><i class="fa fa-time"></i>{{  event.user_name }} @ {{ event.nice_date_format().1 }} on {{ event.nice_date_format().0 }}</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>{{  event.comments }}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                    <!--End Timeline -->
                </div>
            </div>


        </div>
        <!-- end page-wrapper -->
{% endblock %}

{%  block sidenav %}
    <li>
        <a href="/home"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
    </li>
    <li>
        <a href="/document_upload"><i class="fa fa-folder-open fa-fw"></i>Document Upload</a>
    </li>
    <li>
        <a href="/document_search"><i class="fa fa-files-o fa-fw"></i>Document Search</a>
    </li>
    <li>
        <a href="/profile"><i class="fa fa-edit fa-fw"></i>Profile Information</a>
    </li>
    <li>
        <a href="/my-documents"><i class="fa fa-files-o fa-fw"></i>My Documents</a>
    </li>
    <li class="selected">
        <a href="/document-timeline"><i class="fa fa-sitemap fa-fw"></i>Document Timeline</a>
    </li>
{%  endblock %}